<div class="col-md-6 col-lg-4 mb-4">
    <div class="card overflow-hidden">
        <a href="/events/{{id}}" class="text-decoration-none">

            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
            </div>
        </a>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pointer-events-none">
                <button id="delete-blog" type="button" data-id="{{id}}"  class="button btn btn-danger w-50"></button>
            </li>        

        </ul>

    </div>
</div>